.filter-form {
    background: #fff;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
}

.filter-form .form-control-container {
    display: flex;
    flex-grow: 1;
    padding: 15px;
}

.filter-form .form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    font-family: "iransansweb";
    padding: 5px 10px;
    text-align: right;
    width: 100%;
}

@media (max-width: 767px) {
    .filter-form {
        flex-direction: column;
        position: static;
    }
}
