.wishlist-button > span,
.wishlist-button > button {
    cursor: pointer;
}

.wishlist-button > span .fa {
    font-size: 18px;
}

.wishlist-button > button .fa {
    font-size: 14px;
}

.wishlist-button .btn {
    border: none;
    border-radius: 3px;
    color: #fff;
    margin-top: 15px;
    outline-color: #ccc;
    padding: 7px 10px;
}

.wishlist-button .btn span {
    display: inline-block;
    padding: 0 5px;
}

.wishlist-button .btn-success {
    background: #26a69a;
}

.wishlist-button .btn-danger {
    background: #ef5350;
}

.wishlist-button[data-wishlisted="false"] .show-icon-only .fa {
    color: #ccc;
}

.wishlist-button[data-wishlisted="true"] .show-icon-only .fa {
    color: #f9a825;
}

@media (min-width: 767px) {
    .wishlist-button .btn {
        display: none;
    }
}

@media (max-width: 768px) {
    .wishlist-button .show-icon-only {
        display: none;
    }

    .wishlist-button {
        display: flex;
        flex-grow: 1;
        flex-direction: row-reverse;
    }
}
