.sort-toolbar {
    display: flex;
    justify-content: space-between;
}

.sort-toolbar select {
    -webkit-border-radius: 2px;
    border: 0px;
    outline: 0px;
    padding: 15px;
}

.sort-toolbar button {
    background: none;
    border: 0px;
    cursor: pointer;
    outline: 0px;
}

@media (min-width: 768px) {
    .sort-toolbar {
        display: none;
    }
}
