.table .header,
.table .row {
    display: flex;
    padding: 10px;
}

.table .header {
    background: #4db6ac;
    border-radius: 5px 5px 0 0;
    color: #fff;
    position: sticky;
    top: 66px;
}

.table .header .col,
.table .row .col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
    width: 16.66%;
}

.table .header .col {
    font-size: 14px;
}

.table .header .title {
    cursor: pointer;
}

.table .row .col {
    font-size: 12px;
}

.table .col .value,
.table .col .icon {
    padding: 5px;
}

.sort-icon {
    display: none;
    margin-right: 5px;
}

.sort-icon.active {
    display: inline-block;
}

@media (min-width: 768px) {
    .table .row:nth-child(even) {
        background: #eeeeee;
    }

    .table .row:nth-child(odd) {
        background: #fafafa;
    }

    .table .col > .icon {
        display: none;
    }

    .table .row .to-bottom-arrow {
        display: none;
    }
}

@media (max-width: 767px) {
    .table .header {
        display: none;
    }

    .table .row {
        flex-wrap: wrap;
    }

    .table .row .col {
        flex-direction: row;
        justify-content: right;
        width: 50%;
    }

    .table .col > .icon {
        color: #78909c;
        font-size: 16px;
    }

    .table .col > .value {
        color: #78909c;
        font-size: 14px;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col.bottons {
        border-top: solid 1px #eeeeee;
        margin-top: 15px;
    }

    .col.old-value,
    .col.new-value,
    .col.to-bottom-arrow {
        border-radius: 5px;
        justify-content: center !important;
        padding: 7px;
    }

    .col.old-value {
        background: #ffebee;
        margin-top: 25px;
    }

    .col.old-value .value {
        color: #e53935;
    }

    .col.new-value {
        background: #e8f5e9;
    }

    .col.new-value .value {
        color: #43a047;
    }

    .col.to-bottom-arrow .fa {
        color: #cfd8dc;
        font-size: 24px;
    }
}

@media (max-width: 576px) {
    .table .row {
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 5px 15px rgba(51, 51, 51, 0.15);
        margin: 15px 0;
    }

    .table .row .col {
        width: 100%;
    }

    .col-sm-6 {
        width: 50% !important;
    }
}
