@font-face {
    font-family: iransansweb;
    src: url(assets/fonts/IRANSansWeb.ttf) format("truetype");
}

body {
    background-color: #37474f;
    direction: rtl;
    font-family: "iransansweb";
}

button,
select {
    font-family: "iransansweb";
}

.hidden {
    display: none;
}
